<h1 class="text-center">Currently playing</h1>

<div class="row">
  <% @movies.each do |movie| %>
  <div class="media">
    <div class="media-left media-middle">
      <img class="media-object" src="http://placehold.it/200x150" alt="<%= movie.title %>">
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to movie.title, movie_path(movie) %></h4>
      <%= movie.start_time.strftime("%I:%m %p  %b/%d/%Y") %>
    </div>
  </div>
  <% end %>
</div>
